@tailwind base;
@tailwind components;
@tailwind utilities;

:host {
  color-scheme: light;
}

.chattree-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #a8b7b4 transparent;
}

.chattree-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.chattree-scrollbar::-webkit-scrollbar-thumb {
  background: #a8b7b4;
  border-radius: 999px;
}
